* {
    margin: 0px;
    padding: 0px;
    font-family: "Prompt", sans-serif;
}

:root {
    --ice: rgba(127, 255, 255);
    --iceo: rgba(127, 255, 255, 0.105);
    --rebel: #ec6f6f;
    --emperium: #fff290;
}


body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s;
    font-size: 1vw;
}


@keyframes head {

    50% {
        text-shadow: var(--ice) 0px 0px 5px, var(--ice) 0px 0px 10px, var(--ice) 0px 0px 15px, var(--ice)0px 0px 25px;
        color: black;
    }

}

.heading {
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    animation: head;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.reb {

    text-shadow: var(--rebel) 0px 0px 5px, var(--rebel) 0px 0px 10px, var(--rebel) 0px 0px 15px, var(--rebel)0px 0px 25px;
    color: black;
}

#rebel {
    box-shadow: var(--rebel) 0px 0px 5px, var(--rebel) 0px 0px 10px, var(--rebel) 0px 0px 15px, var(--rebel)0px 0px 25px;
    border-color: var(--rebel);
    color: var(--rebel);
    text-shadow: 0px 0px 10px var(--rebel);
}

#o-name {
    background-color: hsla(53, 100%, 78%, 0.161);
    border: 1px solid var(--emperium);
    outline: none;
}

#x-name {

    background-color: hsla(0, 77%, 68%, 0.161);
    border: 1px solid var(--rebel);
    outline: none;
}

.emp {
    text-shadow: var(--emperium) 0px 0px 5px, var(--emperium) 0px 0px 10px, var(--emperium) 0px 0px 15px, var(--emperium)0px 0px 25px;
    color: black;
}

#emperium {
    box-shadow: var(--emperium) 0px 0px 5px, var(--emperium) 0px 0px 10px, var(--emperium) 0px 0px 15px, var(--emperium)0px 0px 25px;
    border-color: var(--emperium);
    color: var(--emperium);
    text-shadow: 0px 0px 10px var(--emperium);
}

.choose-section {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.choose {
    margin-top: 5px;
    width: 20vw;
    height: 57vh;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.choose>h1 {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 5px;
}

.choose>.name-inpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4vw;
}

.choose>.name-inpt>input {
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 3px 4px;
    font-size: 1vw;
    border: 2px dodgerblue hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-top: 5px;
}

.choose-btn {
    display: flex;
    gap: 3vw;
}

.choose-btn>button {
    width: 5vw;
    background-color: hsl(39, 77%, 0%);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;

}

.choose>p {
    height: 24vh;
    overflow: auto;
    width: 18vw;
    text-align: center;
}

.choose>p::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.choose>p::-webkit-scrollbar-thumb {
    border: 1px solid white;
    border-radius: 5px;
}

.story {
    overflow: auto;
    width: 38vw;
    height: 60vh;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 5px white;
}

.story>span {
    font-size: 30px;
    font-weight: bolder;

}

.story::-webkit-scrollbar {
    width: 7px;
    max-height: 10px;
}

.story::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
}

.starting {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.starting>button {
    padding: 5px 25px;
    font-size: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.4s;
}

button:hover {
    box-shadow: 0px 0px 10px 1px white;
    scale: 1.05;
}

button:active {
    scale: 0.9;
}

.clicked {
    background-color: white;
    color: black;
}

.game-yard {
    height: 100vh;
    scale: 1;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s;
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

.yard-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.yard-btn>button {
    padding: 0.3vw 1vw;
    font-size: 2vw;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.4s;
    width: 10vw;
    text-align: center;
}

.yard-area {
    display: flex;
}

.game-area {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh;
    margin: auto;
}


@keyframes game-div {
    50% {
        text-shadow: var(--ice) 0px 0px 30px
    }
}

.game-area>div {
    border: 1px solid rgba(127, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px var(--ice);
    font-size: 3vw;
    font-weight: bolder;
    animation-name: game-div;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.yard-score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
    text-align: center;
}

#draw-score {
    font-size: 2vw;
    font-style: italic;
    text-shadow: 0px 0px 5px var(--ice), 0px 0px 10px var(--ice), 0px 0px 15px var(--ice), 0px 0px 25px var(--iceo), 0px 0px 35px var(--iceo);
    color: rgba(255, 255, 255, 0.65);
}

#x-score {
    font-size: 2vw;
    font-style: italic;
    text-shadow: 0px 0px 5px var(--rebel), 0px 0px 10px var(--rebel), 0px 0px 15px var(--rebel), 0px 0px 25px var(--rebel), 0px 0px 35px var(--rebel);
    color: rgba(255, 255, 255, 0.65);
}

#o-score {
    font-size: 2vw;
    font-style: italic;
    text-shadow: 0px 0px 5px var(--emperium), 0px 0px 10px var(--emperium), 0px 0px 15px var(--emperium), 0px 0px 25px var(--emperium), 0px 0px 35px var(--emperium);
    color: rgba(255, 255, 255, 0.65);
}

.vanish {
    opacity: 0;
    scale: 0;
}

.no-click {
    pointer-events: none;
}

/* MODAL */

::backdrop {
    background-color: rgba(1, 2, 47, 0.43);
}

dialog {
    margin: auto;
    height: 50vh;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    border: 2px solid rgb(179, 231, 245);
    color: white;
    overflow: hidden;

    animation-name: game-div;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.inside-dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 1vw;
    box-sizing: border-box;
    font-size: 1vw;
}

.dia-btn {
    display: flex;
    gap: 1vw;
}

.dia-btn>button {
    padding: 5px 25px;
    font-size: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.4s;
    width: 11vw;
    font-size: 1.5vw;
    text-shadow: 0px 0px 5px var(--ice);
}