* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: all 0.5s;
}

.heading {
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.choose-section {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.choose {
    margin-top: 5px;
    width: 320px;
    height: 400px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.choose>h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
}

.choose>.name-inpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.choose>.name-inpt>input {
    background-color: hsl(0, 0%, 5%);
    color: white;
    padding: 3px 4px;
    font-size: 15px;
    border: 2px dodgerblue hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-top: 5px;
}

.choose-btn {
    display: flex;
    gap: 50px;
}

.choose-btn>button {
    width: 70px;
    background-color: hsl(39, 77%, 0%);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    transition: all 0.5s;

}

.choose>p {
    height: 170px;
    overflow: auto;
    width: 270px;
    text-align: center;
}

.choose>p::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.choose>p::-webkit-scrollbar-thumb {
    border: 1px solid white;
    border-radius: 5px;
}

.story {
    overflow: auto;
    width: 500px;
    height: 426px;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

.story>span {
    font-size: 30px;
    font-weight: bolder;

}

.story::-webkit-scrollbar {
    width: 7px;
    max-height: 10px;
}

.story::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
}

.starting {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.starting>button {
    padding: 5px 25px;
    font-size: 30px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.4s;
}

button:hover {
    box-shadow: 0px 0px 10px 1px white;
}

button:active {
    scale: 0.9;
}

.clicked {
    background-color: white;
    color: black;
}

.game-yard {
    height: 100vh;
    scale: 1;
    background-color: black;
    overflow: hidden;
    transition: all 0.5s;
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

.yard-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

.yard-btn>button {
    padding: 0.3vw 1vw;
    font-size: 2vw;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: all 0.4s;
    width: 10vw;
    text-align: center;
}

.yard-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-area {
    width: 50%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid white;
}

.game-area>div {
    border: 1px solid white;
}

.yard-score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
    text-align: center;
}





.vanish {
    opacity: 0;
    scale: 0;
}